.topnav {
    background-color: black;
    color: white;
}

.topnav a {
    color: white;
}

nav img {
    height: 28px;
}

.breadcrumbs {
    background-color: #eee;
}

#main_buttons .fa {
    font-size: 80px;
}

#main_buttons .icon {
    height: 7em;
    padding-top: 1em;
}

#main_buttons .btn {
    white-space: normal;
    height: 12em;
    width: 100%;
}

pre {
    color: #bd4147;
    background-color: #f8f9fa;
}

.gap-sm {
    margin-top: 5em;
}

.gap-md {
    margin-top: 10em;
}

.gap-lg {
    margin-top: 20em;
}

.dropzone {
    width: 100%;
    height: 10em;
    background-color: #e6ebf4;
    border-radius: 25px;
    border: 1px dashed #829dce;
}

.dropzone div {
    width: 100%;
    margin-top: 4em;
    text-align: center;
}

.emu-toolbar .fa {
    margin-top: 1em;
}

.emu-toolbar .btn {
    width: 100%;
}

.tools .btn {
    width: 100%;
    font-size: 48pt;
    height: 3em;
    margin-top: 0.5em;
}

.tools .main {
    padding-top: 0.5em;
}

.tools .sub {
    font-size: 12pt;
}
