.topnav {
    background-color: black;
    color: white;
}

.topnav a {
    color: white;
    font-size:0.9em;
}

nav img {
    height: 28px;
}

.breadcrumbs {
    background-color: #eee;
}

#main_buttons .fa {
    font-size: 4em;
    line-height:2em;
}



#main_buttons .btn {
    white-space: normal;
    height: 12em;
    width: 100%;

}

input#file, input#word {
    margin-right:8px;
}

pre {
    color: #bd4147;
    background-color: #f8f9fa;
}

.gap-sm {
    margin-top: 2em;
}

.gap-md {
    margin-top: 5em;
}

.gap-lg {
    margin-top: 10em;
}

.dropzone {
    width: 100%;
    height: 10em;
    background-color: #e6ebf4;
    border-radius: 25px;
    border: 1px dashed #829dce;
}

.dropzone div {
    width: 100%;
    margin-top: 4em;
    text-align: center;
}

.tools .btn {
    width: 100%;
    font-size: 48pt;
    height: 3em;
    margin-top:5%;
    position: relative;
}

.tools .main {
    padding-top: 0.5em;
    font-size: 0.6em;
}

.tools .sub {
    font-size: 12pt;
    white-space: normal;
}

#breadcrumb-custom {
    position: relative;
    top: -37px;
    border-bottom: 1px solid #888;
}

h4.card-title{
    height: 2em;
    text-align: left;
    line-height: 2em;
}

p.card-text{
 margin-top:2em;
}

img.strus-icon{
   width: 10em;
}

.blog-footer {
    padding: 1rem 0;
    color: #999;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
    margin-top:2em;
}

.clearTop{
    margin-top:0px;
}

#breadcrumb-custom li:last-child{
   position:relative;
}

#breadcrumb-custom li:last-child a{
   background: white;
    padding: 20px 30px 16px 30px;
    border-radius: 8px 8px 0px 0px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    color: #333;
    font-size:1em;
    text-decoration:none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: " / ";
    color: black;
}

.breadcrumb-fixed .breadcrumb-item + .breadcrumb-item::before {
    content: " / ";
}


.breadcrumb-item:last-child::before {
    content: "  " !important;
}

.breadcrumb-item a {
    color: #333;

}

.tool-settings {
    margin: 0px;
}

.tool-title {
    display:none;
}

.btn-g2p {
    color: #fff;
    background-color: #7f6caf;
    border-color: #7f6caf;
}

.btn-g2p:hover {
    color: #fff;
    background-color: #533d87;
    border-color: #533d87;
}

.btn-align {
    color: #fff;
    background-color: #bd5840;
    border-color: #bd5840;
}

.btn-align:hover {
    color: #fff;
    background-color: #a83d24;
    border-color: #a83d24;
}

.btn-reco {
    color: #fff;
    background-color: #5fa86b;
    border-color: #5fa86b;
}

.btn-reco:hover {
    color: #fff;
    background-color: #449351;
    border-color: #449351;
}

.jumbotron {
    padding: 3em 2em;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.breadcrumb-fixed {
  position: fixed !important;
  top: 0px !important;
  z-index:999999;
}

.breadcrumb-fixed .breadcrumb-item:last-child a{
    position:relative;
    top:-2px;
}

.breadcrumb-fixed .breadcrumb-item a{

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.breadcrumb-fixed + #mainblock {
  padding-top: 60px;
}

.ustawienia .ust-name {
    font-weight:normal;
    font-size:0.9em;
}

.ustawienia .ust-value {
    font-weight:bold;
}

.btn-micro {
    font-size: 0.68rem;
    margin:1em;
}

.command-link{

}

.flaga-icon{
    height:0.9em;
    margin:0.4em;
    position: relative;
    top:-0.1em;
}

.card-body#toolbody {
    background: #f8f9fa;
}