{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}emu_tool_tytuł{% endtrans %}</h1>

    <div class="gap-md">&nbsp;</div>

    <div class="row" id="main_buttons">
        <div class="col-lg-5">
            <a class="btn btn-success btn-lg" href="new">
                <div class="icon">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <h4 class="card-title">{% trans %}nowy_projekt{% endtrans %}</h4>
            </a>
        </div>
        <div class="col-lg-2">&nbsp;</div>
        <div class="col-lg-5">
            <a class="btn btn-primary btn-lg" href="search">
                <div class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <h4 class="card-title">{% trans %}szukaj_projekt{% endtrans %}</h4>
            </a>
        </div>
    </div>

    <div class="gap-md">&nbsp;</div>

    <a class="btn btn-info" href="https://danijel3.github.io/emuR_notebooks">
	    <i class="fa fa-question-circle"></i>
	    {% trans %}instrukcje{% endtrans %}
    </a>
    
    <div class="gap-md">&nbsp;</div>

{% endblock %}
