{% extends "layout.html" %}
{% block body %}

    <h1 class="tool-title">{% trans %}emu_tool_tytuł{% endtrans %}</h1>

    <!--<div class="gap-md">&nbsp;</div>-->

    <div class="row animated fadeIn" id="main_buttons">
        <div class="col-lg-6">

            <div class="card animated fadeIn">
                <a class="card-img-top btn btn-clarin3 btn-lg clearTop" href="new">

                    <div class="icon">
                        <i class="fa fa-plus main" aria-hidden="true"></i>
                    </div>
                    <h3 class="card-title">{% trans %}nowy_projekt{% endtrans %}</h3>

                </a>
            </div>


        </div>

        <div class="col-lg-6">

            <div class="card animated fadeIn">
                <a class="card-img-top btn btn-clarin3 btn-lg clearTop" href="search">

                    <div class="icon">
                        <i class="fa fa-search main" aria-hidden="true"></i>
                    </div>
                    <h3 class="card-title">{% trans %}szukaj_projekt{% endtrans %}</h3>
                </a>
            </div>


        </div>
    </div>

{% endblock %}
