{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}hasło_tytuł{% endtrans %}</h1>

    <a href="/emu">{% trans %}powrót{% endtrans %}</a>

    <form action="{{ id }}" method="POST">
        <div class="card form-group card-block">
            <h2>{% trans %}wprowadź_hasło{% endtrans %}</h2>
            <div class="form-group">
                <input type="password" name="pass" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary">
                    {% trans %}potwierdź{% endtrans %}
                </button>
            </div>
            {% if error %}
                <div class="form-group">
                    <div id="error-msg" class="alert alert-danger fade show" role="alert">
                        {% trans %}błędne_hasło{% endtrans %}
                    </div>
                </div>
            {% endif %}
        </div>
    </form>

{% endblock %}