{% extends "layout.html" %}
{% block body %}

    <div class="card">
        <div class="card-body form-group">
            <form action="{{ id }}" method="POST">

                <h2>{% trans %}wprowadź_hasło{% endtrans %}</h2>

                <div class="form-group">
                    <input type="password" name="pass" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary">
                        {% trans %}potwierdź{% endtrans %}
                    </button>
                </div>
                {% if error %}
                    <div class="form-group">
                        <div id="error-msg" class="alert alert-danger fade show" role="alert">
                            {% trans %}błędne_hasło{% endtrans %}
                        </div>
                    </div>
                {% endif %}

            </form>
        </div>
    </div>

{% endblock %}