{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}nowy_projekt{% endtrans %}</h1>

    <a href="/emu">{% trans %}powrót{% endtrans %}</a>

    <div class="card form-group card-block">
        <form action="create" method="post">
            <div class="form-group">
                <label for="owner">{% trans %}właściciel{% endtrans %}</label>
                <input class="form-control" id="owner" name="owner" aria-describedby="owner-help" value="Anonymous">
                <small id="owner-help" class="form-text text-muted">
                    {% trans %}właściciel_opis{% endtrans %}
                </small>
            </div>
            <div class="form-group">
                <label for="desc">{% trans %}opis{% endtrans %}</label>
                <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                <small id="desc-help" class="form-text text-muted">
                    {% trans %}opis_opis{% endtrans %}
                </small>
            </div>
            <div class="form-group">
                <label for="pass">{% trans %}hasło{% endtrans %}</label>
                <input type="password" class="form-control" id="pass" name="pass" aria-describedby="pass-help"
                       placeholder="{% trans %}hasło{% endtrans %}">
                <small id="pass-help" class="form-text text-muted">
                    {% trans %}hasło_opis{% endtrans %}
                </small>
            </div>
            <button type="submit" class="btn btn-primary">{% trans %}stwórz{% endtrans %}</button>
            <a href="/emu" class="btn btn-info">anuluj</a>
        </form>
    </div>
{% endblock %}