{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}kontakt{% endtrans %}</h1>

    <div class="gap-sm"></div>

    <div class="card form-control card-block">

        <p>{% trans %}kontakt_opis{% endtrans %}</p>

        <ul>
            <li>Danijel Koržinek - <a href="mailto:danijel@pja.edu.pl">danijel@pja.edu.pl</a></li>
            <li>Krzysztof Marasek- <a href="mailto:kmarasek@pja.edu.pl">kmarasek@pja.edu.pl</a></li>
        </ul>
    </div>

    <div class="card form-control card-block" style="margin-top: 15px">

        <h3 class="card-title">{% trans %}cytowanie{% endtrans %}</h3>

        <p>{% trans %}cytowanie_opis{% endtrans %}</p>

        <p style="padding: 15px; background-color: #eee">
            <b>Danijel Koržinek, Krzysztof Marasek, Łukasz Brocki and Krzysztof Wołk</b>: <i>Polish Read Speech
            Corpus for Speech Tools and Services</i>, Selected papers from the CLARIN Annual Conference 2016,
            Aix-en-Provence, 26–28 October 2016, CLARIN Common Language Resourcesand Technology Infrastructure, number
            136, pages 54–62. LinköpingUniversity Electronic Press, Linköpings universitet, 2017.
        </p>
        <p><a href="http://www.ep.liu.se/ecp/136/004/ecp17136004.pdf">{% trans %}link_do_pracy{% endtrans %}</a></p>
    </div>

{% endblock %}