{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}korpusy_tytuł{% endtrans %}</h1>

    <div class="gap-sm"></div>

    <div class="card form-control card-block">

        <h3 class="card-title">{% trans %}korpus_studio_tytuł{% endtrans %}</h3>

        <p>{% trans %}korpus_opis{% endtrans %}</p>
        <p><a href="/korpusy/clarin_emu.zip">{% trans %}korpus_link{% endtrans %}</a></p>

        <h4>{% trans %}korpus_webapp_tytuł{% endtrans %}</h4>

        <p>{% trans %}korpus_webapp_opis{% endtrans %}</p>

        <p>
            <a href="http://ips-lmu.github.io/EMU-webApp/?autoConnect=true&serverUrl=wss%3A%2F%2Fmowa.clarin-pl.eu%3A17891%2Fclarin">
                {% trans %}link_do_usługi{% endtrans %}
            </a>
        </p>

        <h4>{% trans %}korpus_licencja{% endtrans %}</h4>

        <a href="/korpusy/LICENSE">LICENSE</a>

    </div>

    <div class="card form-control card-block" style="margin-top: 15px">

        <h3 class="card-title">{% trans %}kaldi_baseline{% endtrans %}</h3>

        <p>{% trans %}kaldi_baseline_opis{% endtrans %}</p>

        <p><a href="https://github.com/danijel3/ClarinStudioKaldi">
            https://github.com/danijel3/ClarinStudioKaldi
        </a></p>
    </div>

{% endblock %}