<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CLARIN-PL mowa</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropdown.js/0.0.2dev/jquery.dropdown.min.css"/>


    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">

    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>

    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                },
                "position": "top"
            })
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropdown.js/0.0.2dev/jquery.dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <nav class="nav topnav justify-content-end">
        <a class="nav-link" href="//clarin-pl.eu/">{% trans %}CLARIN-PL{% endtrans %}</a></li>
        <a class="nav-link" href="/kontakt">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            {% trans %}kontakt{% endtrans %}
        </a>
        <a class="nav-link" href="/lang/pl"><img class="flaga-icon" src="{{ url_for('static', filename='img/pl.svg') }}"></a>
        <a class="nav-link" href="/lang/en"><img class="flaga-icon" src="{{ url_for('static', filename='img/gb.svg') }}"></a>
    </nav>

    <div class="jumbotron" id="jumbo">

        <div class="row">
            <div class="col-md">
                <a href="/">
                    <img src="{{ url_for('static',filename='img/Claring-logo.png') }}" class="img-fluid push-left" alt="Clarin PL Logo"/></img>
                </a>
            </div>
            <div class="col-md">
                <a href="/">
                    <img src="{{ url_for('static',filename='img/logo2.png') }}" class="img-fluid push-right" alt="CTJ Logo"/></img>
                </a>
            </div>
      </div>

    </div>



      <ol class="breadcrumb" id="breadcrumb-custom">
        {%- for breadcrumb in breadcrumbs -%}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a></li>
        {%- endfor -%}
      </ol>



    <!--<div style="margin-top:2em">&nbsp;</div>-->

    <div id="mainblock">
        {% block body %} {% endblock %}
    </div>

    <footer class="blog-footer">
      <p>{% trans %}CLARIN-PL{% endtrans %} 2018</p>
    </footer>

</div>

<script>
window.onscroll = function() {checkfixed()};
window.onresize = function() {checkfixed()};

var breadcrump = document.getElementById("breadcrumb-custom");
var sticky = breadcrump.offsetTop;

function checkfixed() {
  if (window.pageYOffset >= sticky) {
    breadcrump.classList.add("breadcrumb-fixed");
    var jumbowidth = document.getElementById("jumbo").offsetWidth;
    breadcrump.style.width = jumbowidth+"px";
  } else {
    breadcrump.classList.remove("breadcrumb-fixed");
    breadcrump.style.width = "100%";
  }
}
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61350840-2', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
