{% extends "layout.html" %}
{% block body %}
    {% if forced %}
        <h1 class="tool-title">{% trans %}forcealign_tytuł{% endtrans %}</h1>
    {% else %}
        <h1 class="tool-title">{% trans %}segalign_tytuł{% endtrans %}</h1>
    {% endif %}



    <div class="card form-group card-block">
        <div class="card-body">
            <h4 class="card-title">{% trans %}opis_narzędzia{% endtrans %}</h4>
            <p >{% trans %}opis_align{% endtrans %}</p>

            {% if forced %}
                <p >{% trans %}opis_forced{% endtrans %}</p>
            {% else %}
                <p >{% trans %}opis_segment{% endtrans %}</p>
            {% endif %}

            <p >{% trans %}opis_pliki_audio{% endtrans %}</p>
        </div>
    </div>



    <div class="card form-group card-block">

            <!-- belka ustawien narzedzia -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light tool-settings card-img-top">
          <a class="navbar-brand" href="#">Settings:</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Wybór języka
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Polski</a>
                  <a class="dropdown-item" href="#">Angielski</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>


        <div class="card-body">
            <div class="form-group">
                <label for="audio">{% trans %}wczytaj_nagranie{% endtrans %}</label>
                <input id="audio" name="audio" class="form-control-file" type="file">
            </div>
            <div class="form-group">
                <label for="transcript">{% trans %}wczytaj_transkrypcję{% endtrans %}</label>
                <input id="transcript" name="transcript" class="form-control-file" type="file">
            </div>
            <div class="form-group">
                <button id="convert_btn" class="btn btn-primary form-control">
                    {% trans %}rozpocznij{% endtrans %}
                </button>
            </div>
        </div>
    </div>

    <div id="error-msg" class="alert alert-danger fade" role="alert">{% trans %}błąd_admin{% endtrans %}</div>

    <div class="card form-group card-block">
        <div class="card-body">
        <h4><a data-toggle="collapse" href="#serviceHelp">
            {% trans %}commandline_tytuł{% endtrans %}
        </a></h4>

        <div class="collapse" id="serviceHelp">
            <p>{% trans %}usługę_uruchamiamy_poleceniem{% endtrans %}</p>

            {% if forced %}
                <p>
                    <code>curl -s -F "audio=@audio.wav" -F "transcript=@trans.txt" {{ server_url }}tools/speech/forcealign</code>
                </p>
            {% else %}
                <p>
                    <code>curl -s -F "audio=@audio.wav" -F "transcript=@trans.txt" {{ server_url }}tools/speech/segmentalign</code>
                </p>
            {% endif %}

            <p>{% trans %}help_ident_io{% endtrans %}</p>

            <p>
                <code>
                    {"output": "59aeffa039ec7803291c5e1f", "audio": "59ad218239ec782dcfa73599", "transcript":
                    "59ad217639ec782dcfa73597"}
                </code>
            </p>

            <p>{% trans %}help_download{% endtrans %}</p>

            <p><code>curl {{ server_url }}/tools/download/59aeffa039ec7803291c5e1f -o output.ctm</code></p>

            <p>{% trans %}help_download_textgrid{% endtrans %}</p>

            <p><code>curl {{ server_url }}/tools/textgrid/59aeffa039ec7803291c5e1f -o output.TextGrid</code></p>

            <p><code>curl {{ server_url }}/tools/textgrid/59aeffa039ec7803291c5e1f -o
                output.TextGrid?script=sampa</code></p>

            <p><code>curl {{ server_url }}/tools/textgrid/59aeffa039ec7803291c5e1f -o output.TextGrid?script=ipa</code>
            </p>

            <p>{% trans %}help_download_annot{% endtrans %}</p>

            <p><code>curl {{ server_url }}/tools/annot/59aeffa039ec7803291c5e1f -o output_annot.json</code></p>

            <p>{% trans %}help_download_status_codes{% endtrans %}</p>

            <p><code>curl {{ server_url }}/tools/status/59aeffa039ec7803291c5e1f</code></p>

            <p>{% trans %}help_status_status_codes{% endtrans %}</p>

            <p>{% trans %}help_upload{% endtrans %}</p>

            <p><code>curl -s -F "file=@audio.wav" {{ server_url }}tools/upload/audio</code></p>

            <p>{% trans %}help_upload_result{% endtrans %}</p>

            {% if forced %}
                <p>
                    <code>curl {{ server_url }}tools/speech/forcealign/59ad218239ec782dcfa73599/59ad217639ec782dcfa73597</code>
                </p>
            {% else %}
                <p>
                    <code>curl {{ server_url }}tools/speech/segmentalign/59ad218239ec782dcfa73599/59ad217639ec782dcfa73597</code>
                </p>
            {% endif %}

            <p>{% trans %}help_final_download{% endtrans %}</p>


        </div>
         <div class="card-body">
    </div>


    <script type="text/javascript">

        function convert() {

            var fd = new FormData();
            var audio = document.getElementById('audio');
            var transcript = document.getElementById('transcript');
            fd.append('audio', audio.files[0]);
            fd.append('transcript', transcript.files[0]);
            $.ajax({
                {% if forced %}
                    url: '/tools/speech/forcealign',
                {% else %}
                    url: '/tools/speech/segmentalign',
                {% endif %}
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    res = JSON.parse(data);
                    id = res['output'];
                    window.location = '/tools/ui/view/' + id;
                },
                error: function (data) {
                    $("#error-msg").addClass('show');
                }
            });
        }

        $('#convert_btn').click(convert);
    </script>

{% endblock %}