{% extends "layout.html" %}
{% block body %}
    <h1>{% trans %}reco_tytuł{% endtrans %}</h1>

    <a href="#" onclick="window.history.back()">{% trans %}powrót{% endtrans %}</a></p>

    <div class="card form-group card-block">
        <h4 class="card-title">{% trans %}opis_narzędzia{% endtrans %}</h4>
        <p class="card-text">{% trans %}opis_reco{% endtrans %}</p>
    </div>

    <div class="card form-group card-block">
        <div class="form-group">
            <label for="audio">{% trans %}wczytaj_audio{% endtrans %}</label>
            <input id="audio" name="audio" class="form-control-file" type="file">
        </div>
        <div class="form-group">
            <button id="convert_btn" class="btn btn-primary form-control">
                {% trans %}rozpocznij{% endtrans %}
            </button>
        </div>
    </div>

    <div id="error-msg" class="alert alert-danger fade" role="alert">{% trans %}błąd_admin{% endtrans %}</div>

    <div class="card form-group card-block">
        <h3><a data-toggle="collapse" href="#serviceHelp">
            {% trans %}commandline_tytuł{% endtrans %}
        </a></h3>

        <div class="collapse" id="serviceHelp">
            <p>{% trans %}usługę_uruchamiamy_poleceniem{% endtrans %}</p>

        </div>
    </div>

    <script type="text/javascript">

        function convert() {

            var fd = new FormData();
            var audio = document.getElementById('audio');
            fd.append('file', audio.files[0]);
            $.ajax({
                url: '/tools/speech/reco',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    res = JSON.parse(data);
                    id = res['output'];
                    window.location = '/tools/ui/view/' + id;
                },
                error: function (data) {
                    $("#error-msg").addClass('show');
                }
            });
        }

        $('#convert_btn').click(convert);
    </script>

{% endblock %}