{% extends "layout.html" %}
{% block body %}
    <h1>{% trans %}Transkrpycja pojedynczego wyrazu{% endtrans %}</h1>

    <p><a href="/tools">{% trans %}Powrót do listy narzędzi{% endtrans %}</a></p>

    <div class="card form-group card-block">
        <h4 class="card-title">{% trans %}Opis narzędzia{% endtrans %}</h4>
        <p class="card-text">{% trans %}Konwersja wyrazu z zapisu ortograficznego na fonetyczny.{% endtrans %}</p>
    </div>

    <div class="card form-group card-block">
        <p>{% trans %}Wpisz wyraz jaki chcesz przetranskrybować:{% endtrans %}</p>

        <span class="input-group">
                <input id="word" class="form-control" type="text" on>
                <span class="input-group-btn">
                    <button id="convert_btn" class="btn btn-primary">{% trans %}Konwertuj{% endtrans %}</button>
                </span>
            </span>
    </div>

    <div class="card form-group card-block">

        <p>{% trans %}Wynik:{% endtrans %}</p>

        <textarea id="result" class="form-control" style="height: 10em;" readonly="true"></textarea>
    </div>
    <div class="form-group text-center">
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="smapa">
                <input class="form-check-input" name="script" type="radio" id="sampa" checked> SAMPA
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="ipa">
                <input class="form-check-input" name="script" type="radio" id="ipa"> IPA
            </label>
        </div>
    </div>

    <div class="card form-group card-block">
        <h3><a data-toggle="collapse" href="#serviceHelp">
            {% trans %}Przykład korzystania z usługi z linii poleceń{% endtrans %}
        </a></h3>

        <div class="collapse" id="serviceHelp">
            <p>{% trans %}Usługe uruchamiamy następującym poleceniem:{% endtrans %}</p>

            <p><code>curl {{ server_url }}tools/phonetize/word/wstążka</code></p>

            <p>{% trans %}Generuje taki output w formacie JSON:{% endtrans %}</p>

            <p><code>["f s t o~ Z k a", "f s t o n Z k a"]</code></p>

            <p>{% trans %}Można też pobrać wynik używając alfabetu IPA:{% endtrans %}</p>

            <p><code>curl {{ server_url }}tools/phonetize/word/wstążka?ipa</code></p>

            <p>{% trans %}Co wygeneruje wynik w kodzie UTF-8:{% endtrans %}</p>

            <p><code>["f s t \u0254\u0303 \u0290 k a", "f s t \u0254 n \u0290 k a"]</code></p>

            <p>{% trans %}W przypadku większego obciążenia, serwer może odpowiedzieć kodem
                <code>503 Service Unavaliable</code>. W takim wypadku wystarczy powtórzyć zapytanie.{% endtrans %}
            </p>
        </div>
    </div>

    <script type="text/javascript">

        var fail_count;
        var time_delay;

        function convert() {
            fail_count = 5;
            time_delay = 100;
            display();
        }

        function display() {
            var script;
            if ($('#sampa').is(':checked')) script = 'sampa';
            if ($('#ipa').is(':checked')) script = 'ipa';

            $('#convert_btn').html('<span class="fa fa-refresh fa-spin"></span>\
                {% trans %}Pracuję...{% endtrans %}');

            var txt = $('#word').val();

            $.get('/tools/phonetize/word/' + encodeURI(txt) + '?' + script)
                .done(function (data) {
                    $('#result').val(JSON.parse(data).join('\n'));
                    $('#convert_btn').html('{% trans %}Konwertuj{% endtrans %}');
                }).fail(function (data) {
                if (data['status'] == 503) {
                    if (fail_count > 0) {
                        setTimeout(display, time_delay);
                        time_delay += 100;
                        fail_count--;
                    } else {
                        $('#result').val('{% trans %}Błąd konwersji...{% endtrans %}');
                        $('#convert_btn').html('{% trans %}Konwertuj{% endtrans %}');
                    }
                }
            });
        }

        $('#word').keyup(function (event) {
            if (event.keyCode == 13) {
                convert();
            }
        });

        $('#convert_btn').click(convert);
        $('#sampa').click(convert);
        $('#ipa').click(convert);
    </script>
{% endblock %}