{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}Transkrypcja listy wyrazów{% endtrans %}</h1>

    <a href="#" onclick="window.history.back()">{% trans %}Powrót{% endtrans %}</a></p>

    <div class="card form-group card-block">
        <h4 class="card-title">{% trans %}Opis narzędzia{% endtrans %}</h4>
        <p class="card-text">{% trans %}Konwersja listy wyrazów z zapisu ortograficznego na fonetyczny.{% endtrans %}</p>
    </div>

    <div class="card form-group card-block">
        <p>{% trans %}Wczytaj plik tekstowy:{% endtrans %}</p>
        <span class="input-group">
                    <input id="file" name="file" class="form-control" type="file">
                <span class="input-group-btn">
                    <button id="convert_btn" class="btn btn-primary">{% trans %}Konwertuj{% endtrans %}</button>
                </span>
            </span>
    </div>

    <div class="card form-group card-block">

        <p>{% trans %}Wynik:{% endtrans %}</p>

        <textarea id="result" class="form-control" style="height: 20em;" readonly="true"></textarea>

        <p id="ident" style="font-size: 8pt" data-toggle="tooltip" data-placement="left"
           title="{% trans %}Proszę wysłać te dane administratorowi w razie problemów!{% endtrans %}"></p>


        <div class="form-group text-center">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="alpha">
                    <input class="form-check-input" name="script" type="radio" id="alpha" checked> ALPHA
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="smapa">
                    <input class="form-check-input" name="script" type="radio" id="sampa"> SAMPA
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="ipa">
                    <input class="form-check-input" name="script" type="radio" id="ipa"> IPA
                </label>
            </div>
        </div>
    </div>

    <div class="card form-group card-block">
        <h3><a data-toggle="collapse" href="#serviceHelp">
            {% trans %}Przykład korzystania z usługi z linii poleceń{% endtrans %}
        </a></h3>

        <div class="collapse" id="serviceHelp">

            <p>{% trans %}Usługe uruchamiamy następującym poleceniem:{% endtrans %}</p>

            <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list </code></p>

            <p>{% trans %}Co wygeneruje wynik przykładowo:{% endtrans %}</p>

            <p>
            <pre><code>ala&#09;a l a
ma&#09;m a
kota&#09;k o t a
sęp&#09;s en p
śledzić&#09;si l e dzi i tsi</code></pre>
            </p>

            <p>{% trans %}Można też pobrać wynik w alfabecie SAMPA:{% endtrans %}</p>

            <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list?sampa </code></p>

            <p>{% trans %}Co wygeneruje wynik przykładowo:{% endtrans %}</p>

            <p>
            <pre><code>ala&#09;a l a
ma&#09;m a
kota&#09;k o t a
sęp&#09;s e~ p
śledzić&#09;s' l e dz' i ts'</code></pre>
            </p>

            <p>{% trans %}Można też pobrać wynik w alfabecie IPA:{% endtrans %}</p>

            <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list?ipa </code></p>

            <p>{% trans %}Co wygeneruje wynik przykładowo:{% endtrans %}</p>

            <p>
            <pre><code>ala&#09;a l a
ma&#09;m a
kota&#09;k ɔ t a
sęp&#09;s ɛ̃ p
śledzić&#09;ɕ l ɛ dʑ i tɕ</code></pre>
            </p>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $.ajaxSetup({cache: false});

        function convert() {

            script = '';
            if ($('#sampa').is(':checked')) script = '?sampa';
            if ($('#ipa').is(':checked')) script = '?ipa';

            var fd = new FormData();
            var input = document.getElementById('file');
            if (input.files.length == 0)
                return;
            fd.append('file', input.files[0]);

            $.ajax({
                url: '/tools/phonetize/list' + script,
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    $('#result').val(data);
                    $('#convert_btn').html('{% trans %}Konwertuj{% endtrans %}');
                },
                error: function (data) {
                    $('#result').val('{% trans %}Błąd konwersji...{% endtrans %}');
                    $('#convert_btn').html('{% trans %}Konwertuj{% endtrans %}');
                }
            });
        }

        $('#convert_btn').click(convert);
        $('#alpha').click(convert);
        $('#sampa').click(convert);
        $('#ipa').click(convert);
    </script>
{% endblock %}