{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}audionorm_tytuł{% endtrans %}</h1>

    <a href="#" onclick="window.history.back()">{% trans %}powrót{% endtrans %}</a></p>

    <div class="card form-group card-block">
        <h4 class="card-title">{% trans %}opis_narzędzia{% endtrans %}</h4>
        <p class="card-text">{% trans %}opis_audionorm{% endtrans %}</p>
    </div>

    <div class="card form-group card-block">

        <p>{% trans %}wczytaj_audio{% endtrans %}</p>

        <span class="input-group">
                    <input id="file" name="file" class="form-control" type="file">
                <span class="input-group-btn">
                    <button id="convert_btn" class="btn btn-primary">{% trans %}konwertuj{% endtrans %}</button>
                </span>
            </span>
    </div>

    <div id="error-msg" class="alert alert-danger fade" role="alert">{% trans %}błąd_admin{% endtrans %}</div>

    <div class="card form-group card-block">
        <h3><a data-toggle="collapse" href="#serviceHelp">
            {% trans %}commandline_tytuł{% endtrans %}
        </a></h3>

        <div class="collapse" id="serviceHelp">
            <p>{% trans %}usługę_uruchamiamy_poleceniem{% endtrans %}</p>

            <p><code>curl -s -F "file=@audio.mp3" {{ server_url }}tools/audio/normalize</code></p>

            <p>{% trans %}help_ident_io{% endtrans %}</p>

            <p><code>{"input": "59a29a9939ec7816a70529e3", "output": "59a2eaad39ec785da49ac86a"}</code></p>

            <p>{% trans %}help_download{% endtrans %}</p>

            <p><code>curl {{ server_url }}/tools/download/59a2eaad39ec785da49ac86a -o output.wav</code></p>

            <p>{% trans %}help_download_status_codes{% endtrans %}
            </p>

            <p><code>curl {{ server_url }}/tools/status/59a2eaad39ec785da49ac86a</code></p>

            <p>{% trans %}help_status_status_codes{% endtrans %}</p>

            <p>{% trans %}help_upload{% endtrans %}</p>

            <p><code>curl -s -F "file=@audio.mp3" {{ server_url }}tools/upload</code></p>

            <p>{% trans %}help_upload_result{% endtrans %}</p>

            <p><code>curl {{ server_url }}/tools/audio/normalize/59a29a9939ec7816a70529e3</code></p>

            <p>{% trans %}help_final_download{% endtrans %}</p>

        </div>
    </div>

    <script type="text/javascript">

        function convert() {

            var fd = new FormData();
            var input = document.getElementById('file');
            //fd.append('file', $('#file').prop('files')[0]);
            fd.append('file', input.files[0]);
            $.ajax({
                url: '/tools/audio/normalize',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    res = JSON.parse(data);
                    id = res['output'];
                    window.location = '/tools/ui/view/' + id;
                },
                error: function (data) {
                    $("#error-msg").addClass('show');
                }
            });
        }

        $('#convert_btn').click(convert);
    </script>
{% endblock %}