{% extends "layout.html" %}
{% block body %}
    <h1>{% trans %}textnorm_tytuł{% endtrans %}</h1>

    <a href="#" onclick="window.history.back()">{% trans %}powrót{% endtrans %}</a></p>

    <div class="card form-group card-block">
        <h4 class="card-title">{% trans %}opis_narzędzia{% endtrans %}</h4>
        <p class="card-text">{% trans %}opis_textnorm{% endtrans %}</p>
        <p class="card-text">{% trans %}opis_textnorm_wip{% endtrans %}</p>
    </div>

    <div class="card form-group card-block">
        <p>{% trans %}wczytaj_tekstowy{% endtrans %}</p>

        <span class="input-group">
                    <input id="file" name="file" class="form-control" type="file">
                <span class="input-group-btn">
                    <button id="convert_btn" class="btn btn-primary">{% trans %}konwertuj{% endtrans %}</button>
                </span>
            </span>
    </div>

    <div id="error-msg" class="alert alert-danger fade" role="alert">{% trans %}błąd_admin{% endtrans %}</div>

    <div class="card form-group card-block">
        <h3><a data-toggle="collapse" href="#serviceHelp">
            {% trans %}commandline_tytuł{% endtrans %}
        </a></h3>

        <div class="collapse" id="serviceHelp">
            <p>{% trans %}usługę_uruchamiamy_poleceniem{% endtrans %}</p>

            <p><code>curl -s -F "file=@test.txt" {{ server_url }}tools/text/normalize </code></p>

            <p>{% trans %}help_ident_io{% endtrans %}</p>

            <p><code>{"input": "599565d139ec782642683890", "output": "599871a739ec781a48838f70"}</code></p>

            <p>{% trans %}help_download{% endtrans %}</p>

            <p><code>curl {{ server_url }}tools/download/599871a739ec781a48838f70</code></p>

            <p>{% trans %}help_gen_result{% endtrans %}</p>

            <p>
            <pre><code>ala ma kota</code></pre>
            </p>

            <p>{% trans %}help_final_download{% endtrans %}</p>

            <p>{% trans %}help_upload{% endtrans %}</p>

            <p><code>curl -s -F "file=@test.txt" {{ server_url }}tools/upload/transcript</code>

            <p>{% trans %}help_trans_normalize{% endtrans %}</p>

            <p><code>curl {{ server_url }}tools/text/normalize/599565d139ec782642683890</code></p>

            <p>{% trans %}help_result_download{% endtrans %}</p>
        </div>
    </div>

    <div class="card form-control card-block" style="margin-top: 15px">

        <h3 class="card-title">{% trans %}cytowanie{% endtrans %}</h3>

        <p>{% trans %}cytowanie_opis{% endtrans %}</p>

        <p style="padding: 15px; background-color: #eee">
            <b>Danijel Koržinek, Krzysztof Marasek, Łukasz Brocki and Krzysztof Wołk</b>: <i>Polish Read Speech
            Corpus for Speech Tools and Services</i>, Selected papers from the CLARIN Annual Conference 2016,
            Aix-en-Provence, 26–28 October 2016, CLARIN Common Language Resourcesand Technology Infrastructure, number
            136, pages 54–62. LinköpingUniversity Electronic Press, Linköpings universitet, 2017.
        </p>
        <p><a href="http://www.ep.liu.se/ecp/136/004/ecp17136004.pdf">{% trans %}link_do_pracy{% endtrans %}</a></p>
    </div>

    <script type="text/javascript">

        function convert() {
            var fd = new FormData();
            var input = document.getElementById('file');
            //fd.append('file', $('#file').prop('files')[0]);
            fd.append('file', input.files[0]);
            $.ajax({
                url: '/tools/text/normalize',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    res = JSON.parse(data);
                    id = res['output'];
                    window.location = '/tools/ui/view/' + id;
                },
                error: function (data) {
                    $("#error-msg").addClass('show');
                }
            });
        }

        $('#convert_btn').click(convert);
    </script>
{% endblock %}