{% extends "layout.html" %}
{% block body %}
    <h1 class="tool-title">{% trans %}g2p_wordlist_tytuł{% endtrans %}</h1>

    <!-- tool desc card -->
    <div class="card" id="tool-desc">
        <div class="card-body">

            <!-- the title of card -->
            <div class="tool-small-tab">
                {% trans %}opis_narzędzia{% endtrans %}
            </div>

            <!-- the main body of the tab-->
            <div class="card-body">
                <p>{% trans %}opis_g2p_wordlist{% endtrans %}</p>


                <a type="button" data-toggle="collapse" id="command-btn-info" class="btn btn-outline-clarin3"
                   href="#serviceHelp">{% trans %}commandline_tytuł{% endtrans %} <i class="fa fa-angle-down"></i></a>


                <div class="collapse" id="serviceHelp">

                    <p>{% trans %}usługę_uruchamiamy_poleceniem{% endtrans %}</p>

                    <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list </code></p>

                    <p>{% trans %}help_gen_result{% endtrans %}</p>

                    <p>
                    <pre><code>ala&#09;a l a
						ma&#09;m a
						kota&#09;k o t a
						sęp&#09;s en p
						śledzić&#09;si l e dzi i tsi</code></pre>
                    </p>

                    <p>{% trans %}help_result_sampa{% endtrans %}</p>

                    <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list?sampa </code></p>

                    <p>{% trans %}help_gen_result{% endtrans %}</p>

                    <p>
                    <pre><code>ala&#09;a l a
						ma&#09;m a
						kota&#09;k o t a
						sęp&#09;s e~ p
						śledzić&#09;s' l e dz' i ts'</code></pre>
                    </p>

                    <p>{% trans %}help_result_ipa{% endtrans %}</p>

                    <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list?ipa </code></p>

                    <p>{% trans %}help_gen_result{% endtrans %}</p>

                    <p>
                    <pre><code>ala&#09;a l a
					ma&#09;m a
					kota&#09;k ɔ t a
					sęp&#09;s ɛ̃ p
					śledzić&#09;ɕ l ɛ dʑ i tɕ</code></pre>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- the main card of a tool -->
    <div class="card" id="main-tool">
        <div class="card-body">

            <!-- the place for the title tab -->
            <div class="tool-small-tab">

            </div>

            <!-- main body of a tool -->
            <div class="card-body" id="toolbody">
                <div class="row">

                    <!-- tool input -->
                    <div class="col-sm-12 col-md-12">
                        <table style="height: 100%; width:100%">
                            <tbody>
                            <tr>
                                <td class="align-middle">
                                    <div class="input-group mb-3 align-middle" id="enter-input">
                                        <form class="input-group" id="upload-form">
                                            <div class="custom-file">

                                                <label for="file" id="fileLabel" class="btn btn-clarin3">
                                                    {% trans %}wgraj_plik{% endtrans %}
                                                </label>
                                                <input id="file" name="file" onchange="pressed()" class="form-control"
                                                       type="file">

                                                <span class="input-group-btn">
                                                <button id="convert_btn" type="submit" class="btn btn-clarin3">
                                                    {% trans %}konwertuj{% endtrans %}
                                                </button>
                                            </span>
                                            </div>
                                        </form>

                                        <!-- progress bar -->
                                        <p>
                                        <div class="progress" id="progress">
                                            <div class="progress-bar" id="progressBar" role="progressbar"
                                                 style="width: 0%;"
                                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">25%
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- tool settings -->
                    <!--
                    <div class="col-sm-12 col-md-6">
                        <span id="settings-label">Settings:</span>
                        <table style="height: 100%; width:100%">
                            <tbody>
                            <tr>
                                <td class="align-middle">

                                    <nav class="navbar navbar-expand-lg navbar-light bg-light belka-ustawien">
                                        <div class="navbar-collapse" id="navbarText">
                                            <span class="navbar-text ust-name">Język transkrypcji: </span>
                                            <ul class="navbar-nav mr-auto" id="ust-lng">
                                                <li class="nav-item dropdown ">
                                                    <a id="curr-lng" class="nav-link dropdown-toggle active" href="#"
                                                       id="navbarDropdown" role="button" data-toggle="dropdown"
                                                       aria-haspopup="true" aria-expanded="false">
                                                        <img class="flaga-icon"
                                                             src="{{ url_for('static', filename='img/pl.svg') }}">Polski
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <span class="dropdown-item" value="Polski"><img class="flaga-icon"
                                                                                                    src="{{ url_for('static', filename='img/pl.svg') }}"> Polski</span>
                                                        <span class="dropdown-item" value="Angielski"><img
                                                                class="flaga-icon"
                                                                src="{{ url_for('static', filename='img/gb.svg') }}"> Angielski </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    -->
                </div>


                <!-- output -->
                <div id="output-area">
                    <div id="label-output">{% trans %}wynik{% endtrans %}</div>
                    <textarea id="result" class="form-control" style="height: 20em;" readonly="true"></textarea>
                </div>


                <p id="ident" style="font-size: 8pt" data-toggle="tooltip" data-placement="left"
                   title="{% trans %}ident_admin{% endtrans %}"></p>

                <button type="button" class="btn btn-clarin3 btn-sm" id="alpha">ALPHA</button>
                <button type="button" class="btn btn-outline-clarin3 btn-sm" id="sampa">SAMPA</button>
                <button type="button" class="btn btn-outline-clarin3 btn-sm" id="ipa">IPA</button>

            </div>
        </div>
    </div>


    <script>


        //obsluga file input
        window.pressed = function () {
            var a = document.getElementById('file');
            if (a.value == "") {
                $('#fileLabel').html("");
            }
            else {
                var theSplit = a.value.split('\\');
                $('#fileLabel').html("" + theSplit[theSplit.length - 1]);
                $("#convert_btn").show();
                $("#fileLabel").removeClass('btn-clarin3').addClass('btn-light');

            }
        };


        $(document).ready(function () {
            var script = 'alpha'; //domyslnie sampa

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            $.ajaxSetup({cache: false});

            $('#progress').hide();
            $("#convert_btn").hide();

            function convert(evt) {

                var whichBtn = $(evt.currentTarget).attr('id');

                switch (whichBtn) {
                    case 'alpha':
                        script = 'alpha';
                        $('#alpha').removeClass('btn-outline-clarin3').addClass('btn-clarin3');
                        $('#sampa').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                        $('#ipa').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                        break;
                    case 'sampa':
                        script = 'sampa';
                        $('#alpha').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                        $('#sampa').removeClass('btn-outline-clarin3').addClass('btn-clarin3');
                        $('#ipa').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                        break;
                    case 'ipa':
                        script = 'ipa';
                        $('#alpha').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                        $('#sampa').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                        $('#ipa').removeClass('btn-outline-clarin3').addClass('btn-clarin3');
                        break;
                    default:
                        //domyślnie alpha
                        script = 'alpha';
                        $('#alpha').removeClass('btn-outline-clarin3').addClass('btn-clarin3');
                        $('#sampa').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                        $('#ipa').removeClass('btn-clarin3').addClass('btn-outline-clarin3');
                }

                display();
            }

            function display() {

                var formData = new FormData($('#upload-form')[0]);

                $('#progressBar').removeClass('bg-danger').removeClass('bg-success').addClass('bg-info');

                $.ajax({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();

                        xhr.upload.addEventListener('progress', function (e) {

                            if (e.lengthComputable) {
                                var percent = Math.round((e.loaded / e.total) * 100);
                                $('#progressBar').attr('aria-valuenow', percent).css('width', percent + "%").text(percent + "%");
                            }

                        });
                        return xhr;
                    },
                    type: 'POST',
                    url: '/tools/phonetize/list?' + script,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#progressBar').addClass('bg-success');
                        $('#progressBar').text('The file has been uploaded');
                        $('#result').val(data);
                        $('#convert_btn').html('{% trans %}konwertuj{% endtrans %}');
                    },
                    error: function (data) {
                        // alert('error occured');
                        $('#progressBar').addClass('bg-danger');
                        $('#progressBar').text('{% trans %}błąd_konwersji{% endtrans %}');
                        $('#result').val('{% trans %}błąd_konwersji{% endtrans %}');
                        $('#convert_btn').html('{% trans %}konwertuj{% endtrans %}');
                    },
                    beforeSend: function () {
                        $('#progress').show();
                    }
                });
            }

            $('#upload-form').on('submit', function (event) {

                event.preventDefault();

                display();

            });

            $('#alpha').click(convert);
            $('#sampa').click(convert);
            $('#ipa').click(convert);

        });
    </script>

{% endblock %}