{% extends "layout.html" %}
{% block body %}
    <h1 class="tool-title">{% trans %}g2p_tytuł{% endtrans %}</h1>





    <div class="card form-group card-block">
        <div class="card-body">
            <h4 class="card-title">{% trans %}opis_narzędzia{% endtrans %}</h4>
            <p>{% trans %}opis_g2p{% endtrans %}</p>
        </div>
    </div>


    <div class="card form-group card-block">

         <!-- belka ustawien narzedzia -->
        <nav class="card-img-top navbar navbar-expand-lg navbar-light bg-light tool-settings">
            <span class="ustawienie" id="ustawienie-lng"><span class="ust-name">Aktualny język: </span><span class="ust-value" id="lng-value">Angielski</span></span>
        </nav>


        <div class="card-body">
             <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p><b>Zmień język:</b></p>
                            <form id="lang-choice">
                                <input type="radio" name="lng" value="Angielski" checked> Angielski <br>
                                <input type="radio" name="lng" value="Polski"> Polski <br>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <p>Po tej stronie jest miejsce na ewentualne inne ustawienia</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <p>{% trans %}wpisz_wyraz_g2p{% endtrans %}</p>

                    <span class="input-group">
                            <input id="word" class="form-control" type="text" on>
                            <span class="input-group-btn">
                                <button id="convert_btn" class="btn btn-info">{% trans %}konwertuj{% endtrans %}</button>
                            </span>
                        </span>
                </div>
              </div>



        </div>
    </div>

    <div class="card form-group card-block">
        <div class="card-body">
            <p>{% trans %}wynik{% endtrans %}</p>

            <textarea id="result" class="form-control" style="height: 10em;" readonly="true"></textarea>

        <p id="ident" style="font-size: 8pt" data-toggle="tooltip" data-placement="left"
           title="{% trans %}ident_admin{% endtrans %}"></p>

        <div class="form-group text-center">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="smapa">
                    <input class="form-check-input" name="script" type="radio" id="sampa" checked> SAMPA
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="ipa">
                    <input class="form-check-input" name="script" type="radio" id="ipa"> IPA
                </label>
            </div>

        </div>
        </div>
    </div>

    <div class="card form-group card-block">

        <div class="card-body">
            <h4><a data-toggle="collapse" href="#serviceHelp">
                {% trans %}commandline_tytuł{% endtrans %}
            </a></h4>

            <div class="collapse" id="serviceHelp">
                <p>{% trans %}usługę_uruchamiamy_poleceniem{% endtrans %}</p>

                <p><code>curl {{ server_url }}tools/phonetize/word/wstążka</code></p>

                <p>{% trans %}help_gen_result_JSON{% endtrans %}</p>

                <p><code>["f s t o~ Z k a", "f s t o n Z k a"]</code></p>

                <p>{% trans %}help_result_ipa{% endtrans %}</p>

                <p><code>curl {{ server_url }}tools/phonetize/word/wstążka?ipa</code></p>

                <p>{% trans %}help_gen_result_utf8{% endtrans %}</p>

                <p><code>["f s t \u0254\u0303 \u0290 k a", "f s t \u0254 n \u0290 k a"]</code></p>

                <p>{% trans %}help_503_odśwież{% endtrans %}
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        window.onload=function() {
          var lngradios = document.getElementById("lang-choice").elements["lng"];

          for (var i = 0; i < lngradios.length; i++){
            lngradios[i].onclick=radioClicked;
           }
        }

        function radioClicked(event) {
            document.getElementById("lng-value").innerHTML = event.currentTarget.value;
        }

    </script>

    <script type="text/javascript">

        var fail_count;
        var time_delay;

        function convert() {
            fail_count = 5;
            time_delay = 100;
            display();
        }

        function display() {
            var script;
            if ($('#sampa').is(':checked')) script = 'sampa';
            if ($('#ipa').is(':checked')) script = 'ipa';

            $('#convert_btn').html('<span class="fa fa-refresh fa-spin"></span>\
                {% trans %}pracuję{% endtrans %}');

            var txt = $('#word').val();

            $.get('/tools/phonetize/word/' + encodeURI(txt) + '?' + script)
                .done(function (data) {
                    $('#result').val(JSON.parse(data).join('\n'));
                    $('#convert_btn').html('{% trans %}konwertuj{% endtrans %}');
                }).fail(function (data) {
                if (data['status'] == 503) {
                    if (fail_count > 0) {
                        setTimeout(display, time_delay);
                        time_delay += 100;
                        fail_count--;
                    } else {
                        $('#result').val('{% trans %}błąd_konwersji{% endtrans %}');
                        $('#convert_btn').html('{% trans %}konwertuj{% endtrans %}');
                    }
                }
            });
        }

        $('#word').keyup(function (event) {
            if (event.keyCode == 13) {
                convert();
            }
        });

        $('#convert_btn').click(convert);
        $('#sampa').click(convert);
        $('#ipa').click(convert);
    </script>
{% endblock %}