{% extends "layout.html" %}
{% block body %}

    <h1>{% trans %}g2p_wordlist_tytuł{% endtrans %}</h1>

    <div class="card form-group card-block">
        <h4 class="card-title">{% trans %}opis_narzędzia{% endtrans %}</h4>
        <p class="card-text">{% trans %}opis_g2p_wordlist{% endtrans %}</p>
    </div>

    <div class="card form-group card-block">
        <p>{% trans %}wczytaj_tekstowy{% endtrans %}</p>
        <span class="input-group">
                    <input id="file" name="file" class="form-control" type="file">
                <span class="input-group-btn">
                    <button id="convert_btn" class="btn btn-primary">{% trans %}konwertuj{% endtrans %}</button>
                </span>
            </span>
    </div>

    <div class="card form-group card-block">

        <p>{% trans %}wynik{% endtrans %}</p>

        <textarea id="result" class="form-control" style="height: 20em;" readonly="true"></textarea>

        <p id="ident" style="font-size: 8pt" data-toggle="tooltip" data-placement="left"
           title="{% trans %}ident_admin{% endtrans %}"></p>


        <div class="form-group text-center">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="alpha">
                    <input class="form-check-input" name="script" type="radio" id="alpha" checked> ALPHA
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="smapa">
                    <input class="form-check-input" name="script" type="radio" id="sampa"> SAMPA
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="ipa">
                    <input class="form-check-input" name="script" type="radio" id="ipa"> IPA
                </label>
            </div>
        </div>
    </div>

    <div class="card form-group card-block">
        <h3><a data-toggle="collapse" href="#serviceHelp">
            {% trans %}commandline_tytuł{% endtrans %}
        </a></h3>

        <div class="collapse" id="serviceHelp">

            <p>{% trans %}usługę_uruchamiamy_poleceniem{% endtrans %}</p>

            <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list </code></p>

            <p>{% trans %}help_gen_result{% endtrans %}</p>

            <p>
            <pre><code>ala&#09;a l a
ma&#09;m a
kota&#09;k o t a
sęp&#09;s en p
śledzić&#09;si l e dzi i tsi</code></pre>
            </p>

            <p>{% trans %}help_result_sampa{% endtrans %}</p>

            <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list?sampa </code></p>

            <p>{% trans %}help_gen_result{% endtrans %}</p>

            <p>
            <pre><code>ala&#09;a l a
ma&#09;m a
kota&#09;k o t a
sęp&#09;s e~ p
śledzić&#09;s' l e dz' i ts'</code></pre>
            </p>

            <p>{% trans %}help_result_ipa{% endtrans %}</p>

            <p><code>curl -s -F "file=@word_list_txt" {{ server_url }}tools/phonetize/list?ipa </code></p>

            <p>{% trans %}help_gen_result{% endtrans %}</p>

            <p>
            <pre><code>ala&#09;a l a
ma&#09;m a
kota&#09;k ɔ t a
sęp&#09;s ɛ̃ p
śledzić&#09;ɕ l ɛ dʑ i tɕ</code></pre>
            </p>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $.ajaxSetup({cache: false});

        function convert() {

            script = '';
            if ($('#sampa').is(':checked')) script = '?sampa';
            if ($('#ipa').is(':checked')) script = '?ipa';

            var fd = new FormData();
            var input = document.getElementById('file');
            if (input.files.length == 0)
                return;
            fd.append('file', input.files[0]);

            $.ajax({
                url: '/tools/phonetize/list' + script,
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    $('#result').val(data);
                    $('#convert_btn').html('{% trans %}konwertuj{% endtrans %}');
                },
                error: function (data) {
                    $('#result').val('{% trans %}błąd_konwersji{% endtrans %}');
                    $('#convert_btn').html('{% trans %}konwertuj{% endtrans %}');
                }
            });
        }

        $('#convert_btn').click(convert);
        $('#alpha').click(convert);
        $('#sampa').click(convert);
        $('#ipa').click(convert);
    </script>
{% endblock %}