{% extends "layout.html" %}
{% block body %}
    <h1>{% trans %}view_any_tytuł{% endtrans %}</h1>

    <a href="#" onclick="window.history.back()">{% trans %}powrót{% endtrans %}</a></p>

    <div class="card form-group card-block">
        <a href="/tools/download/{{ res_id }}" target="_blank" class="btn btn-info">{% trans %}pobierz{% endtrans %}</a>
    </div>

    <div class="card form-group card-block">
        <p>{% trans %}res_ident{% endtrans %}</p>
        <p><a href="/tools/ui/view/{{ res_id }}">{{ res_id }}</a></p>
    </div>

{% endblock %}