{% extends "layout.html" %}
{% block body %}
    <h1>{% trans %}view_seg_tytuł{% endtrans %}</h1>

    <div class="card form-group card-block">
        <div class="row">
            <a id="result_ctm" target="_blank" class="btn btn-info" style="margin-left: 10px">CTM</a>
            <a id="result_textgrid" target="_blank" class="btn btn-info" style="margin-left: 10px">TextGrid</a>
            <a id="result_textgrid_sampa" target="_blank" class="btn btn-warning" style="margin-left: 10px">TextGrid
                (Sampa)</a>
            <a id="result_textgrid_ipa" target="_blank" class="btn btn-warning" style="margin-left: 10px">TextGrid
                (IPA)</a>
            <a id="result_emu" target="_blank" class="btn btn-info" style="margin-left: 10px">annot (EMU)</a>
            <a id="result_webapp" target="_blank" class="btn btn-primary" style="margin-left: 10px">EMU-webApp</a>
        </div>

        <div id="progress-msg" class="alert alert-info fade show" role="alert">
            <span class="fa fa-refresh fa-spin"></span>
            {% trans %}pracuję{% endtrans %}
        </div>
    </div>

    <div id="error-msg" class="alert fade" role="alert">
    </div>

    <div class="card form-group card-block">
        <p>{% trans %}ident_res{% endtrans %}</p>

        <p><a href="/tools/ui/view/{{ res_id }}">{{ res_id }}</a></p>

        <p>{% trans %}ident_from{% endtrans %}</p>
        {% if from_audio %}
            <p><a href="/tools/ui/view/{{ from_audio }}" target="_blank">{{ from_audio }}</a></p>
            <p><a href="/tools/ui/view/{{ from_trans }}" target="_blank">{{ from_trans }}</a></p>
        {% else %}
            <p>{% trans %}nieznany_f5{% endtrans %}</p>
        {% endif %}
    </div>

    <script type="text/javascript">

        $.ajaxSetup({cache: false});

        var fail_count = 10;
        var time_delay = 100;

        function display() {
            $.get('/tools/status/' + encodeURI('{{ res_id }}'))
                .done(function (data) {
                        if (data == 'ok') {
                            var seg_id = encodeURI('{{ res_id }}');
                            $('#result_ctm').attr('href', '/tools/download/' + seg_id);
                            $('#result_textgrid').attr('href', '/tools/textgrid/' + seg_id);
                            $('#result_textgrid_sampa').attr('href', '/tools/textgrid/' + seg_id + '?script=sampa');
                            $('#result_textgrid_ipa').attr('href', '/tools/textgrid/' + seg_id + '?script=ipa');
                            $('#result_emu').attr('href', '/tools/annot/' + seg_id);
                            $('#result_webapp').attr('href', 'http://ips-lmu.github.io/EMU-webApp/' +
                                '?audioGetUrl={{ ( server_url + 'tools/download/' + from_audio ) | urlencode }}' +
                                '&labelGetUrl={{ ( server_url + 'tools/annot/'+ res_id ) | urlencode }}' +
                                '&labelType=annotJSON');
                            $("#progress-msg").alert('close');
                        } else if (data == 'wait') {
                            if (fail_count > 0) {
                                setTimeout(display, time_delay);
                                time_delay += 100;
                                fail_count--;
                            } else {
                                $('#progress-msg').alert('close');
                                $('#error-msg').addClass('show');
                                $('#error-msg').addClass('alert-warning');
                                $('#error-msg').html('{% trans %}f5_refresh{% endtrans %}');
                            }
                        } else {
                            $('#progress-msg').alert('close');
                            $('#error-msg').addClass('show');
                            $('#error-msg').addClass('alert-danger');
                            $('#error-msg').html('{% trans %}błąd_admin{% endtrans %}');
                        }
                    }
                ).fail(function (data) {

                $('#progress-msg').alert('close');
                $('#error-msg').addClass('show');
                $('#error-msg').addClass('alert-danger');
                $('#error-msg').html('{% trans %}błąd_admin{% endtrans %}');

            });
        }

        display();
    </script>

{% endblock %}